.container {
  position: relative;
  text-align: center;
}

.centerTitle {
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
}
.centerParagraph {
  align-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
}
.centerMouse {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image {
  height: 650px;
  width: 100%;
}
.aboutUs {
  text-align: center;
}
.downArrow {
  align-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.serviceSection {
  display: flex;
  justify-content: center;
}
.serviceIcon {
  padding: 100px;
}
.serviceText {
  text-align: center;
}
.portfolio {
  display:flex;
  justify-content:space-between;
  
}

#div1 {
  text-align: center;
  margin: auto;
  border: 3px black dotted;
  border-color: red;
  height: 300px;
  width: 300px;
  position: relative;
  background-color: aquamarine;
}

#div2 {
  text-align: center;
  margin: auto;
  border: 3px yellow dotted;
  border-color: blue;
  height: 300px;
  width: 300px;
  position: relative;
  background-color: blueviolet;
}
